<div class="container">
    <!-- Sobre Mim -->
    <section class="about">
        <div class="about-text">
            <h2>Sobre Mim</h2>
            <p>Formação completa e todo o passo a passo para levar você da fase que está no mercado para os grandes
                resultados consistentes no Trading profissional!</p>
            <a href="https://pay.hotmart.com/A93956177P?bid=1737420645723">
                <button class="pulsing-button">Eu Quero</button>
            </a>
        </div>
        <img src="assets/img/img.png" alt="Foto sobre você">
    </section>

    <!-- Vídeo sobre o Curso -->
    <section class="s-curso">
        <h2 class="h2-1">Conheça Mais Sobre o Curso</h2>
        <iframe class="video" src="https://www.youtube.com/embed/dRA19AKYOfs" title="Vídeo sobre o curso"></iframe>
        <div href="https://pay.hotmart.com/A93956177P?bid=1737420645723">
            <button class="pulsing-button">Quero o curso</button>
        </div>
    </section>
    
    Ferramenta de Indicador de Gráfico
    <section class="tools">
        <h2>Ferramenta de Indicador de Gráfico</h2>
        <p>Eleve suas análises de mercado a um novo nível com nossa ferramenta exclusiva de indicadores de gráfico. Projetada para traders que buscam precisão e agilidade.</p>
        <img src="assets/img/indi.png.png" alt="Imagem de demonstração da ferramenta" class="main-tool-image"> 
        
        <section class="carousel-container">
            <div class="carousel">
                <img src="assets/img/ferramenta 1.png" alt="Ferramenta 1">
                <img src="assets/img/ferramenta 1.png" alt="Ferramenta 1">
                <img src="assets/img/ferramenta 1.png" alt="Ferramenta 1">
                <img src="assets/img/ferramenta 1.png" alt="Ferramenta 1">
                <img src="assets/img/ferramenta 1.png" alt="Ferramenta 1">
                <img src="assets/img/ferramenta 1.png" alt="Ferramenta 1">
                <img src="assets/img/ferramenta 1.png" alt="Ferramenta 1">
            </div>
        </section>
        
        <button>Quero a Ferramenta</button>
    </section>
</div>
