<section class="contact-container">
    <div class="s-media-contact">
        <h2>Mídias sociais e WhatAapp</h2>
        <div class="social-media"> 
            <h3>WhatsApp</h3>
            <h3>Instagram</h3>
            <h3>Facebook</h3>
        </div>
    </div>
    <div class="contact">
        <h2>Mande um e-mail!</h2>
        <form>
            <input type="text" placeholder="Seu Nome" required>
            <input type="email" placeholder="Seu Email" required>
            <textarea placeholder="Sua Mensagem" rows="5" required></textarea>
            <button type="submit">Enviar Mensagem</button>
        </form>
        <!-- <div class="contact-icons">
            <a href="https://www.instagram.com/seu_usuario" target="_blank">📷</a>
            <a href="https://wa.me/seunumerodetelefone" target="_blank">📱</a>
        </div> -->
    </div>
</section>
<div class="dev">
    <a>Desenvolvimento: A.W software - 2025</a>
</div>